*{
    margin: 0;
}

body{
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 400; 

}

li{
    list-style-type: none;
    padding-left: 0;

}

a{
    text-decoration: none;
    color: #333136;
}


.header {
    /* background-color: beige; */
    
}

.header .container{
    height: 155px;
}

.container {
    /* background: rgb(98, 45, 45); */
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header{
    width: 200px;
    height: 25px;
}

.logo {
    line-height: 0;
}

.menu {
    gap: 42px;
}

.menu  a{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
}

.menu a:hover {
    text-decoration: underline;
}


.header_menu {}

.main {
    max-width: 1440px;
    /* background-color: brown; */
    margin-left: auto;
    margin-right: auto;
}

.container-bg {}

.footer {
    /* background-color: #1d1c1e; */
}